 #header
 {

background-color:  #FAE4D6;
 
 }
 
 
 #logo
 {

  display: block;
  margin: 20px auto;
  height: 25%;
  width: 25%;
  

 }

 #nav
 {

  display: block;
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
 }


 li 
 {

  display: inline-block;
  float: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  background-color: #E38601;
  color: black;

  
 }

 a:link
{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited
{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

 li :hover
 {
   color: #E38601;
   background-color: #4A3C29;
 }
  
  a 
{

    padding-left: 30px;
    padding-right: 30px;

}
     
#main
{
  height: 100%;
  width: 100%;
  background-color: #4A3C29;
  color: #E38601 ;
  text-align: center;
  font-size: larger;
}

#footer
{
  background-color:  #FAE4D6;
  text-align: center;
  font-size: larger;
  color: #4A3C29;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  size: 25%;
  text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.column {
  float:left;
  width: 50%;
 
}


.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: none;
}


#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.display
{
  display: block;
}